version: "3.9"
services:
  mssqlscripts:
    container_name: keycloak.sqlscript
    image: mcr.microsoft.com/mssql-tools
    command: /bin/bash -c 'until /opt/mssql-tools/bin/sqlcmd -S host.docker.internal -U sa -P Aa123456789*-+ -Q "create database KeycloakDb"; do sleep 5; done'
    
  keycloak:
    container_name: keycloak
    build:
      context: .
      args:
        KEYCLOAK_VERSION: latest
    command: ['start', '--optimized']
    environment:
      JAVA_OPTS_APPEND: -Dkeycloak.profile.feature.upload_scripts=enabled
      KC_DB_URL: jdbc:sqlserver://host.docker.internal;databaseName=keycloak;encrypt=false
      KC_DB_USERNAME: sa                       # database server user
      KC_DB_PASSWORD: Aa123456789*-+           # database server password
      KC_DB: mssql
      KC_HEALTH_ENABLED: 'true'
      KC_HTTP_ENABLED: 'true'
      KC_METRICS_ENABLED: 'true'
      KC_PROXY: edge
      KEYCLOAK_ADMIN: admin                    # keycloak admin
      KEYCLOAK_ADMIN_PASSWORD: Aa123456789*-+  # keycloak password
      KC_HOSTNAME_STRICT: false
      KC_HTTPS_KEY_STORE_FILE: /etc/x509/https/tls.pfx
      KC_HTTPS_KEY_STORE_PASSWORD: 1234
    ports:
      - "2008:8080"
      - "2009:8443" # SSL
    volumes:
      - keycloak_data_cert:/etc/x509/https
      - ./certs/aspnetapp.pfx:/etc/x509/https/tls.pfx
    depends_on:
      - mssqlscripts

volumes:
  keycloak_data_cert:


